<div style="position: absolute; top: 40px; left: 25px;">
  <div style="display: flex; align-items: center;">
    <div class="btn-fn">
        <div class="toolbar-btn" 
        ng-class="{'active-btn': !self.weightHide}"
        ng-click="self.weightHide=!self.weightHide">Show weights</div>
        <div class="toolbar-btn" style="font-size: 10px;">LOW&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <div ng-repeat="color in self.getColors()" class="map-legend"
          ng-style="{'background-color':'{{color}}'}"></div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHIGH
        </div>
    </div>
   
  </div>
</div>
<div style="display: none;">
  <div class="map-colormap">
   
  </div>
  <div>
    <button ng-click="self.chartType=0">Bar chart</button>
    <button ng-click="self.chartType=1">Pie chart</button><br>
    <input type="checkbox" ng-click="self.labelHide=!self.labelHide" checked>Show labels<br>
    <input type="checkbox" ng-click="self.weightHide=!self.weightHide" checked>Show weights<br>
  </div>
</div>
<div class="distribution-map">
  <!-- <h3>Distribution map</h3> -->
  <!-- <p>{{self.data}}</p> -->
  <!-- Map -->
  <div class="map" ng-repeat="(i, map) in self.getMaps(self.data) track by i">
    <p class="map-header">{{self.getHeader(map)}}</p>
    <div style="overflow: hidden auto; height: calc(100% - 50px);">
      <div class="map-row row" ng-repeat="(j,row) in self.getRows(map) track by j">
        <div class="map-col" ng-repeat="(k, cell) in self.getCells(row) track by k"
          ng-style="{'background-color': self.colorScale(self.getScaledWeight(cell))}">
          <div class="map-cell" ng-click="self.clickFn($event, cell)">
            <div class="map-cell-tooltip" ng-show="!self.labelHide">
              <p>{{self.getLabel(cell)}}</p>
            </div>
            <div class="map-cell-element">
              <!-- Elements inside each cells -->
              <p ng-show="!self.weightHide">{{self.getWeight(cell)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>