<div class="distribution-map">
  <h3>Distribution map</h3>
  <!-- <p>{{self.data}}</p> -->
  <!-- Map -->
  <div class="map" ng-repeat="(i, map) in self.getMaps(self.data) track by i">
    <p class="map-header">{{self.getHeader(map)}}</p>
    <div class="map-row row" ng-repeat="(j,row) in self.getRows(map) track by j">
      <div class="map-col" ng-repeat="(k, cell) in self.getCells(row) track by k"
        ng-style="{'background-color': self.colorScale(self.getScaledWeight(cell))}">
        <div class="map-cell" ng-click="self.clickFn($event, cell)">
          <div class="map-cell-tooltip" ng-show="!self.labelHide">
            <p>{{self.getLabel(cell)}}</p>
          </div>
          <div class="map-cell-element">
            <!-- Elements inside each cells -->
            <p ng-show="!self.weightHide">{{self.getWeight(cell)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Color map -->
  <div class="map-colormap">
    <svg class="map-legend">
      <defs>
        <linearGradient id="Gradient1" x1="0" x2="1" y1="0" y2="0" color-interpolation="sRGB">
          <stop ng-repeat="color in self.getColors()" ng-attr-offset="{{$index / (self.getColors().length - 1)}}"
            ng-attr-stop-color="{{color}}"></stop>
        </linearGradient>
      </defs>
      <g>
        <rect id="rect1" x="0" y="60%" width="100%" height="40%" fill="url(#Gradient1)" />
        <text x="1%" y="50%">Low</text>
        <text text-anchor="end" x="99%" y="50%">High</text>
      </g>
    </svg>
  </div>

  <!-- Options -->
  <div>
    <button ng-click="self.chartType=0">Bar chart</button>
    <button ng-click="self.chartType=1">Pie chart</button><br>
    <!-- <input type="checkbox" ng-click="self.chartHide=!self.chartHide" checked>Show charts<br> -->
    <input type="checkbox" ng-click="self.labelHide=!self.labelHide" checked>Show labels<br>
    <input type="checkbox" ng-click="self.weightHide=!self.weightHide" checked>Show weights<br>
  </div>

</div>